---
title: 2015 Sponsors
navigation: Sponsors
---

<% data = YAML.load_file("source/sponsors/sponsors.yml") %>

<div class='sponsors'>
  <% data.each do |level, sponsors| %>
    <h2><%= level.capitalize %> Level</h2>
    <% sponsors.each do |sponsor| %>
      <a href="<%= sponsor[:homepage] %>" target="_blank">
        <img src="<%= sponsor[:image_url] %>" alt="<%= sponsor[:name] %>" height="<%= sponsor[:image_height] %>" <%= if sponsor[:dark] then "class='dark'" end %>>
      </a>
    <% end %>
  <% end %>
</div>