---
title: 2020 Sports Picture Story
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Jordi Cohen</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-55de18', yaml_data: 'source/2020/sports-picture-story/slideshow-first-place-55de18.yml' } %>

<h3>Second Place: David Ramos / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4c988b', yaml_data: 'source/2020/sports-picture-story/slideshow-second-place-4c988b.yml' } %>

<h3>Third Place: Matthias Hangst / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3617e7', yaml_data: 'source/2020/sports-picture-story/slideshow-third-place-3617e7.yml' } %>

<h3>Honorable Mention: Bernat Armangue / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-6f61e7', yaml_data: 'source/2020/sports-picture-story/slideshow-honorable-mention-6f61e7.yml' } %>