---
title: 2021 Olympics Picture Story
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Clodagh Kilcoyne / Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3aa4a1', yaml_data: 'source/2021/olympics-picture-story/slideshow-first-place-3aa4a1.yml' } %>

<h3>Second Place: Matthias Hangst / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-16d9fa', yaml_data: 'source/2021/olympics-picture-story/slideshow-second-place-16d9fa.yml' } %>

<h3>Third Place: Jamie Squire / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-d49da2', yaml_data: 'source/2021/olympics-picture-story/slideshow-third-place-d49da2.yml' } %>

<h3>Honorable Mention: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-883d27', yaml_data: 'source/2021/olympics-picture-story/slideshow-honorable-mention-883d27.yml' } %>