---
title: 2020 Chris Hondros Memorial International News
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Carol Guzy</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-5a32d1', yaml_data: 'source/2020/chris-hondros-memorial-international-news/slideshow-first-place-5a32d1.yml' } %>

<h3>Second Place: Esteban Felix / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-147acf', yaml_data: 'source/2020/chris-hondros-memorial-international-news/slideshow-second-place-147acf.yml' } %>

<h3>Third Place: Natacha Pisarenko / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-7c8555', yaml_data: 'source/2020/chris-hondros-memorial-international-news/slideshow-third-place-7c8555.yml' } %>

<h3>Honorable Mention: Angelos Tzortzinis</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2d9d8d', yaml_data: 'source/2020/chris-hondros-memorial-international-news/slideshow-honorable-mention-2d9d8d.yml' } %>