---
title: 2018 Sports Picture Story
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Jeff Pachoud / AFP</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-5f5d6f', yaml_data: 'source/contest/winners/2018/sports-picture-story/slideshow-first-place-5f5d6f.yml' } %>

<h3>Second Place: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-33d963', yaml_data: 'source/contest/winners/2018/sports-picture-story/slideshow-second-place-33d963.yml' } %>

<h3>Third Place: Jan Helge Petri / Freelancer</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-fbcd0a', yaml_data: 'source/contest/winners/2018/sports-picture-story/slideshow-third-place-fbcd0a.yml' } %>

<h3>Honorable Mention: Joel Marklund / Bildbyran Photo Agency</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-0fffae', yaml_data: 'source/contest/winners/2018/sports-picture-story/slideshow-honorable-mention-0fffae.yml' } %>