---
title: 2016 Feature Picture Story/Essay
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Javier Arcenillas</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e16f02', yaml_data: 'source/2016/feature-picture-story-essay/slideshow-first-place-e16f02.yml' } %>

<h3>Second Place: James Rodriguez / Freelancer</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-fdefc9', yaml_data: 'source/2016/feature-picture-story-essay/slideshow-second-place-fdefc9.yml' } %>

<h3>Third Place: Tatiana Vinogradova</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-c95d5f', yaml_data: 'source/2016/feature-picture-story-essay/slideshow-third-place-c95d5f.yml' } %>

<h3>Honorable Mention: Alyssa Schukar / Self</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-c857e6', yaml_data: 'source/2016/feature-picture-story-essay/slideshow-honorable-mention-c857e6.yml' } %>

<h3>Honorable Mention: Sarah Hoffman / Omaha World-Herald</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-7e2acc', yaml_data: 'source/2016/feature-picture-story-essay/slideshow-honorable-mention-7e2acc.yml' } %>

<h3>Honorable Mention: Javier Arcenillas</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4ced7e', yaml_data: 'source/2016/feature-picture-story-essay/slideshow-honorable-mention-4ced7e.yml' } %>