---
title: 2013 News Picture Story
navigation: Contest
comments: on
---

<h1>2013 News Picture Story</h1>

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Kevin Frayer / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1', yaml_data: 'source/contest/winners/2013/news-picture-story/slideshow-first-place.yml' } %>

<h3>Second Place: Andrew Biraj / Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2', yaml_data: 'source/contest/winners/2013/news-picture-story/slideshow-second-place.yml' } %>

<h3>Third Place: Daniel Ochoa de Olza / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3', yaml_data: 'source/contest/winners/2013/news-picture-story/slideshow-third-place.yml' } %>

<h3>Honorable Mention: David Guttenfelder / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4', yaml_data: 'source/contest/winners/2013/news-picture-story/slideshow-honorable-mention.yml' } %>