---
title: 2014 News Picture Story
navigation: Contest
comments: on
---

<h1>2014 News Picture Story</h1>

<%= partial 'layouts/return_to_winners' %>



<h3>First Place: Bulent Kilic / Agent France-Presse</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-39852a', yaml_data: 'source/contest/winners/2014/news-picture-story/slideshow-first-place-39852a.yml' } %>

<h3>Second Place: David Carson / St. Louis Post-Dispatch</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-6f17a4', yaml_data: 'source/contest/winners/2014/news-picture-story/slideshow-second-place-6f17a4.yml' } %>

<h3>Third Place: Al Diaz / Miami Herald</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4c439a', yaml_data: 'source/contest/winners/2014/news-picture-story/slideshow-third-place-4c439a.yml' } %>

<h3>Honorable Mention: Scott Olson / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-f14cc2', yaml_data: 'source/contest/winners/2014/news-picture-story/slideshow-honorable-mention-f14cc2.yml' } %>

<h3>Honorable Mention: Bulent Kilic / Agent France-Presse</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-8a9102', yaml_data: 'source/contest/winners/2014/news-picture-story/slideshow-honorable-mention-8a9102.yml' } %>