---
title: 2021 Feature Picture Story/Essay
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Felipe Dana / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2b8241', yaml_data: 'source/2021/feature-picture-story-essay/slideshow-first-place-2b8241.yml' } %>

<h3>Second Place: Gabrielle Lurie / The San Francisco Chronicle</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-77d04b', yaml_data: 'source/2021/feature-picture-story-essay/slideshow-second-place-77d04b.yml' } %>

<h3>Third Place: Emilio Morenatti / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1cd549', yaml_data: 'source/2021/feature-picture-story-essay/slideshow-third-place-1cd549.yml' } %>

<h3>Honorable Mention: Dar Yasin / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-f88f0e', yaml_data: 'source/2021/feature-picture-story-essay/slideshow-honorable-mention-f88f0e.yml' } %>

<h3>Honorable Mention: Gabrielle Lurie / The San Francisco Chronicle</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-f82254', yaml_data: 'source/2021/feature-picture-story-essay/slideshow-honorable-mention-f82254.yml' } %>