<% data = YAML.load_file("source/#{year}/winners.yml") %>

<%= partial 'layouts/contest_navigation', locals: { year: data[:year] } %>

<%# If slideshow: true was passed in, display the slideshow %>
<% if slideshow %>
  <%= partial 'layouts/slideshow', locals: { id: 'carousel', yaml_data: "source/#{data[:year]}/slideshow.yml" } %> 
<% end %>

<p><%= data[:info] %></p>

<%# Check to see if any of the category URLs are available %>
<% if data[:categories].map { |c| c[:url] }.compact.size > 0 %>
<p>Click on category titles to view images from those categories.</p>
<% end %>

<% data[:categories].each do |category| %>
  <h4 class="category">
    <%# If we have a url, then make the category a link %>
    <% if category[:url] %>
      <%= link_to category[:name], "/winners/#{year}/#{category[:url]}" %>
    <% else %>
      <%= category[:name] %>
    <% end %>
  </h4>

  <ul class="winners">
  <%# If we have winners, display them, else output No awards. %>
  <% if category[:winners].size > 0 %>
    <% category[:winners].each do |winner| %>
      <li class="winner"><%= winner[:info] %></li>
    <% end %>
  <% else %>
    <li>No awards given</li>
  <% end %>
  </ul>

  <% if category[:comments] %>
    <p class="judging-comments"><strong>Comments from the judges:</strong><br><br>
    <em>"<%= category[:comments] %>"</em></p>
  <% end %>
<% end %>

<%# Display judges if they are listed in the yaml file %>
<% if data[:judges] %>
  <h4>Judges</h4>
  
  <ul>
  <% data[:judges].each do |judge| %>
    <li><%= judge[:info] %></li>
  <% end %>
  </ul>

<% end %>

<%= partial 'layouts/contest_navigation', locals: { year: data[:year] } %>