<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div id="nav-logo" class="logo">
          <a class="logo-main" href="/" title="Atlanta Photojournalism Seminar"><img src="/images/logos/atlpj_logo_dates_2016.png"></a>
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div><!-- .navbar-header -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav" id="navbar-links">
          <!--<li<%= " class=\"active\"" if current_page.data.navigation == "Home" %>><a href="/">Home</a></li>-->
          <li class="dropdown<%= " active" if current_page.data.navigation == "About" %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/about/">General Info</a></li>
              <li><a href="/about/dates-and-location/">Dates and Location</a></li>
              <li><a href="/about/staff/">Staff and Contact Info</a></li>
              <li><a href="/schedule/">Schedule</a></li>
              <!-- <li><a href="/contact/volunteer/">Volunteer</a></li> -->
            </ul>
          </li><!-- .dropdown -->
          <li class="dropdown<%= " active" if current_page.data.navigation == "Faculty" %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Faculty <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/faculty/">2016 Faculty</a></li>
              <li><a href="/faculty/speakers/">Speakers</a></li>
              <li><a href="/faculty/workshops/">Photo Workshops</a></li>
              <li><a href="/faculty/video-workshops/">Video Workshops</a></li>
              <li class="divider"></li>
              <li><a href="/faculty/list/">Previous Faculty</a></li>
            </ul>
          </li><!-- .dropdown -->
          <li<%= " class=\"active\"" if current_page.data.navigation == "News" %>><a href="/news/">News</a></li>
          <li class="dropdown<%= " active" if current_page.data.navigation == "Contest" %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contest <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/contest/">Contest Info</a></li>
              <li><a href="/contest/rules/">Rules</a></li>
              <li><a href="/contest/categories/">Categories</a></li>
              <li><a href="/contest/judging/">Judging and Prizes</a></li>
              <li><a href="http://contest.photojournalism.org" target="_blank">Enter the Contest</a></li>
              <li class="divider"></li>
              <li><strong><a href="/contest/winners/2015/">2015 Winners</a></strong></li>
              <li><a href="/contest/winners/">Previous Winners</a></li>
            </ul>
          </li><!-- .dropdown -->
          <li<%= " class=\"active\"" if current_page.data.navigation == "Grants" %>><a href="/grants/">Grants</a></li>
          <li><a href="/sponsors">Sponsors</a></li>
          <li><a href="http://photojournalism.eventbrite.com" target="_blank">Register</a></li>
        </ul><!-- .nav .navbar-nav -->
      </div><!-- .collapse .navbar-collapse -->
    </div><!-- .container -->
  </nav><!-- .navbar -->
</header>