<%  slides = YAML.load(File.read(yaml_data)) %>

<div id="<%= id %>" class="carousel slide" data-ride="carousel" data-interval="7000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  <% (1..slides.size).each do |n| %>
    <li data-target="#<%= id %>" data-slide-to="<%= n - 1 %>"<%= "class='active'" if n == 1 %>></li>
  <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  <% first = true %>
  <% slides.each do |image| %>
    <div class="item<%= " active" if first %>">
      <img src="<%= image[:url] %>" alt="<%= image[:title] %>">
      <div class="carousel-caption">
        <h4 class="carousel-title"><%= image[:title] %></h4>
        <p class="caption"><%= image[:caption] %></p>
        <p><%= image[:credit] %></p>
      </div>
    </div><% first = false %>
  <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#<%= id %>" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#<%= id %>" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> 

<% if defined? keybindings %>
  <% if keybindings %>
    <%= partial 'layouts/slideshow_keybindings', locals: { id: id } %>
  <% end %>
<% end %>

<script>
$(function() {
  $("#<%= id %>").hover(function() {
    $("#<%= id %> .carousel-caption").fadeIn(200);
  }, function() {
    $(".carousel-caption").fadeOut(200);
  });
});
</script>