<!doctype html>
<html>
<head>

<%= partial "layouts/head" %>

</head>
<body class="<%= page_classes %>">
<%= partial "layouts/search_modal" %>

<!-- Navigation -->
<%= partial "layouts/navigation" %>

<div class="container">
<div class="row">
<div class="col-md-8">

<!-- Page Content -->
<%= yield %>

<% if current_page.data.comments %>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'atlantaseminar';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<% end %>

</div><!-- .col-md-8 -->
<div class="col-md-4">
  <a class="twitter-timeline" href="https://twitter.com/atlantaseminar" data-widget-id="274228294562480128">Tweets by @atlantaseminar</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div><!-- .col-md-4 -->
</div><!-- .row  -->
</div><!-- .container -->

<!-- Footer -->
<%= partial "layouts/footer" %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52532741-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>