<!doctype html>
<html>
  <head>
<%= partial "layouts/head" %>
  </head>
  <body class="<%= page_classes %>">

<%= partial "layouts/navigation" %>

<div class="container">
<div class="row">
<div class="col-md-12">

<!-- Page Content -->
<%= yield %>

</div>
</div>
</div>

<%= partial "layouts/footer" %>

  </body>
</html>