<!doctype html>
<html>
<head>

<%= partial "layouts/head" %>

</head>
<body class="<%= page_classes %>">
<%= partial "layouts/search_modal" %>

<!-- Navigation -->
<%= partial "layouts/navigation" %>

<div class="container">
<div class="row">
<div class="col-md-12">

<!-- Page Content -->
<%= yield %>

</div><!-- .container -->
</div><!-- .row -->
</div><!-- .col-md-12 -->

<!-- Footer -->
<%= partial "layouts/footer" %>

<%= partial "layouts/ga" %>
</body>
</html>