---
title: 2014 Speakers
navigation: Faculty
comments: on
---

Below is a list of confirmed speakers for the <strong>2014 Atlanta Photojournalism Seminar</strong>:

<% faculty = YAML.load(File.read("source/faculty/2014/speakers/speakers.yml")) %>
<% faculty.each do |f| %>
  <div class="faculty-section">
  <h3 id="<%= f['id'] %>"><%= f['name'] %></h3>
  <img src="<%= f['url'] %>" alt="<%= f['name'] %>" class="thumbnail faculty-image">
  <% f['bio'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  </div>
<% end %>