---
title: 2017 Feature Picture Story/Essay
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Maye-E Wong / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3bd16a', yaml_data: 'source/2017/feature-picture-story-essay/slideshow-first-place-3bd16a.yml' } %>

<h3>Second Place: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-09600c', yaml_data: 'source/2017/feature-picture-story-essay/slideshow-second-place-09600c.yml' } %>

<h3>Third Place: Natacha Pisarenko / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-0b8c37', yaml_data: 'source/2017/feature-picture-story-essay/slideshow-third-place-0b8c37.yml' } %>

<h3>Honorable Mention: Susana Giron</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-6ad351', yaml_data: 'source/2017/feature-picture-story-essay/slideshow-honorable-mention-6ad351.yml' } %>

<h3>Honorable Mention: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2d1644', yaml_data: 'source/2017/feature-picture-story-essay/slideshow-honorable-mention-2d1644.yml' } %>

<h3>Honorable Mention: Alexandre Meneghini / Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-33bb98', yaml_data: 'source/2017/feature-picture-story-essay/slideshow-honorable-mention-33bb98.yml' } %>