---
title: 2015 Video Speakers
navigation: Faculty
comments: on
---

Below is a list of confirmed video speakers at the <strong>2015 Atlanta Photojournalism Seminar</strong>:

<% faculty = YAML.load(File.read("source/faculty/video-speakers/video-speakers.yml")) %>
<% faculty.each do |f| %>
  <div class="faculty-section">
  <h3 id="<%= f['id'] %>"><%= f['name'] %></h3>
  <img src="<%= f['url'] %>" alt="<%= f['name'] %>" class="thumbnail faculty-image">
  <% f['bio'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>

  <% if defined? f['talk'] %>
    <h4>Topic: <%= f['talk']['topic'] %></h4>
    <p><%= f['talk']['description'] %></p>
  <% end %>
  </div>
<% end %>