---
title: Faculty
navigation: Faculty
---

<h1>2014 Faculty</h1>

Below is a list of confirmed faculty members for the <strong>2014 Atlanta Photojournalism Seminar</strong>:

<% speakers = YAML.load(File.read("source/faculty/speakers/speakers.yml")) %>

<h3>Speakers</h3>

<ul>
<% speakers.each do |speaker| %>
  <li><a href="/faculty/speakers/#<%= speaker['id'] %>"><strong><%= speaker['name'] %></strong></a></li>
<% end %>
</ul>

<% workshops = YAML.load(File.read("source/faculty/workshops/workshops.yml")) %>

<h3>Workshops</h3>

<ul>
<% workshops.each do |workshop| %>
  <li><a href="/faculty/workshops/#<%= workshop['id'] %>"><strong><%= workshop['name'] %></strong></a></li>
<% end %>
</ul>

<% vday = YAML.load(File.read("source/faculty/v-day/v-day.yml")) %>

<h3>Video Day</h3>

<ul>
<% vday.each do |speaker| %>
  <li><a href="/faculty/v-day/#<%= speaker['id'] %>"><strong><%= speaker['name'] %></strong></a></li>
<% end %>
</ul>