---
title: 2017 Faculty
navigation: Faculty
layout: wide
---

<h1>2017 Faculty</h1>

Below is a list of confirmed faculty members for the <strong>2017 Atlanta Photojournalism Seminar</strong>:

<% speakers = YAML.load(File.read("source/faculty/speakers/speakers.yml")) %>

<h2><a href='/faculty/speakers'>Speakers</a></h2>

<div class="row">
<% speakers.each do |speaker| %>
  <div class="col-md-3">
      <a href="speakers/#<%= speaker['id'] %>">
        <img src="<%= speaker['square_url'] %>" class="img-thumbnail" alt="<%= speaker['name'] %> Headshot">
      </a>
      <div style="text-align:center">
        <h4><a href="speakers/#<%= speaker['id'] %>"><%= speaker['name'] %></a></h4>
      </div>
  </div>
<% end %>
</div>