---
title: 2015 News Picture Story
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Santi Palacios / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3b6008', yaml_data: 'source/2015/news-picture-story/slideshow-first-place-3b6008.yml' } %>

<h3>Second Place: Justin Sullivan</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-b9071e', yaml_data: 'source/2015/news-picture-story/slideshow-second-place-b9071e.yml' } %>

<h3>Third Place: Pierpaolo Mittica</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-197d5e', yaml_data: 'source/2015/news-picture-story/slideshow-third-place-197d5e.yml' } %>

<h3>Honorable Mention: Patrick Semansky / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-690353', yaml_data: 'source/2015/news-picture-story/slideshow-honorable-mention-690353.yml' } %>

<h3>Honorable Mention: Chip Somodevilla / Getty Images News</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e83c3a', yaml_data: 'source/2015/news-picture-story/slideshow-honorable-mention-e83c3a.yml' } %>