---
title: 2017 Video Workshops
navigation: Faculty
comments: off
---

Below is a list of confirmed video workshops at the <strong>2017 Atlanta Photojournalism Seminar</strong>:

<% faculty = YAML.load(File.read("source/faculty/video-workshops/video-speakers.yml")) %>

<% faculty.each do |f| %>
  <div class="faculty-section">
  <% if f['workshop'] %>
  <h2 id="<%= f['id'] %>"><% if f['workshop'][0]['title'] && f['workshop'][0]['title'] != '' %><%= f['workshop'][0]['title'] %> - <% end %><%= f['name'] %></h2>
  <img src="<%= f['url'] %>" alt="<%= f['name'] %>" class="thumbnail faculty-image">

  <% if f['workshop'][0]['description'] && f['workshop'][0]['description'] != '' %>
  <!-- <h4>Workshop Description</h4> -->
  <% end %>

  <% f['workshop'][0]['description'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>

  <% if f['workshop'][0]['description'] && f['workshop'][0]['description'] != '' %>
  <!-- <h4>Speaker Bio</h4> -->
  <% end %>
  
  <% f['bio'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  <% end %>
  </div>
<% end %>