---
title: 2015 Video Workshops
navigation: Faculty
comments: on
---

Below is a list of confirmed video workshops at the <strong>2015 Atlanta Photojournalism Seminar</strong>:

<% faculty = YAML.load(File.read("source/faculty/video-workshops/video-speakers.yml")) %>
<% faculty.each do |f| %>
  <hr>
  <div class="faculty-section">
  <% if f['workshop'] %>
  <h2 id="<%= f['id'] %>"><%= f['workshop'][0]['title'] %> - <%= f['name'] %></h2>
  <img src="<%= f['url'] %>" alt="<%= f['name'] %>" class="thumbnail faculty-image">

  <% f['workshop'][0]['description'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  <h4>Speaker Bio</h4>
  <% f['bio'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  <% end %>
  </div>
<% end %>