---
title: 2012 Chris Hondros Memorial International News
navigation: Contest
comments: on
---

<h1>2012 Chris Hondros Memorial International News</h1>

<h3>First Place: Manu Brabo / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1', yaml_data: 'source/contest/winners/2012/chris-hondros-memorial-international-news/slideshow-first-place.yml' } %>

<h3>Second Place: Khalil Hamra / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2', yaml_data: 'source/contest/winners/2012/chris-hondros-memorial-international-news/slideshow-second-place.yml' } %>

<h3>Third Place: Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3', yaml_data: 'source/contest/winners/2012/chris-hondros-memorial-international-news/slideshow-third-place.yml' } %>

<h3>Honorable Mention: Joe Raedle / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4', yaml_data: 'source/contest/winners/2012/chris-hondros-memorial-international-news/slideshow-honorable-mention-1.yml' } %>

<h3>Honorable Mention: Khalil Hamra / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-5', yaml_data: 'source/contest/winners/2012/chris-hondros-memorial-international-news/slideshow-honorable-mention-2.yml' } %>

<h3>Honorable Mention: Muhammed Muheisen / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-6', yaml_data: 'source/contest/winners/2012/chris-hondros-memorial-international-news/slideshow-honorable-mention-3.yml' } %>

