---
title: 2020 Feature Picture Story/Essay
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Susana Giron</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4cc9c4', yaml_data: 'source/2020/feature-picture-story-essay/slideshow-first-place-4cc9c4.yml' } %>

<h3>Second Place: Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-d0d497', yaml_data: 'source/2020/feature-picture-story-essay/slideshow-second-place-d0d497.yml' } %>

<h3>Third Place: Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-be4140', yaml_data: 'source/2020/feature-picture-story-essay/slideshow-third-place-be4140.yml' } %>

<h3>Honorable Mention: Petros Giannakouris / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2343d7', yaml_data: 'source/2020/feature-picture-story-essay/slideshow-honorable-mention-2343d7.yml' } %>