---
title: 2011 News Picture Story
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place - T.J. Kirkpatrick/Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1', yaml_data: 'source/contest/winners/2011/news-picture-story/slideshow-first-place.yml' } %>

<h3>Second Place - Carlos Barria/Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2', yaml_data: 'source/contest/winners/2011/news-picture-story/slideshow-second-place.yml' } %>

<h3>Third Place - Michael Holahan/The Augusta Chronicle</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3', yaml_data: 'source/contest/winners/2011/news-picture-story/slideshow-third-place.yml' } %>

<h3>Honorable Mention - Mike Kane/Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4', yaml_data: 'source/contest/winners/2011/news-picture-story/slideshow-honorable-mention-1.yml' } %>

<h3>Honorable Mention - Ty Wright/Ohio University</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-5', yaml_data: 'source/contest/winners/2011/news-picture-story/slideshow-honorable-mention-2.yml' } %>