---
title: 2018 News Picture Story
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-9bc4d2', yaml_data: 'source/2018/news-picture-story/slideshow-first-place-9bc4d2.yml' } %>

<h3>Second Place: Mohammed Badra / European Pressphoto Agency-EFE</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-06c01a', yaml_data: 'source/2018/news-picture-story/slideshow-second-place-06c01a.yml' } %>

<h3>Third Place: Matt McClain / The Washington Post</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3f3475', yaml_data: 'source/2018/news-picture-story/slideshow-third-place-3f3475.yml' } %>

<h3>Honorable Mention: Matt McClain / The Washington Post</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-a87bab', yaml_data: 'source/2018/news-picture-story/slideshow-honorable-mention-a87bab.yml' } %>

<h3>Honorable Mention: Amer Almohibany / AFP</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-7032d1', yaml_data: 'source/2018/news-picture-story/slideshow-honorable-mention-7032d1.yml' } %>

<h3>Honorable Mention: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e82cc8', yaml_data: 'source/2018/news-picture-story/slideshow-honorable-mention-e82cc8.yml' } %>