---
title: 2017 Sports Picture Story
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Jordi Cohen</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-fe50d8', yaml_data: 'source/contest/winners/2017/sports-picture-story/slideshow-first-place-fe50d8.yml' } %>

<h3>Second Place: Patrick Smith / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-891d6a', yaml_data: 'source/contest/winners/2017/sports-picture-story/slideshow-second-place-891d6a.yml' } %>

<h3>Third Place: Wally Skalij / Los Angeles Times</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-dec47e', yaml_data: 'source/contest/winners/2017/sports-picture-story/slideshow-third-place-dec47e.yml' } %>

<h3>Honorable Mention: Susana Giron</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-6f2f35', yaml_data: 'source/contest/winners/2017/sports-picture-story/slideshow-honorable-mention-6f2f35.yml' } %>