---
title: 2020 News Picture Story
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Felipe Dana / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-d907b8', yaml_data: 'source/2020/news-picture-story/slideshow-first-place-d907b8.yml' } %>

<h3>Second Place: Noah Berger / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-a45f72', yaml_data: 'source/2020/news-picture-story/slideshow-second-place-a45f72.yml' } %>

<h3>Third Place: Carlos Barria / Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-092105', yaml_data: 'source/2020/news-picture-story/slideshow-third-place-092105.yml' } %>

<h3>Honorable Mention: Andrew Whitaker / The Post and Courier</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-a09aa4', yaml_data: 'source/2020/news-picture-story/slideshow-honorable-mention-a09aa4.yml' } %>