---
title: 2020 Pandemic Story/Essay
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Jae C. Hong / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-c78a09', yaml_data: 'source/2020/pandemic-story-essay/slideshow-first-place-c78a09.yml' } %>

<h3>Second Place: Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-f197ed', yaml_data: 'source/2020/pandemic-story-essay/slideshow-second-place-f197ed.yml' } %>

<h3>Third Place: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-7dab63', yaml_data: 'source/2020/pandemic-story-essay/slideshow-third-place-7dab63.yml' } %>

<h3>Honorable Mention: Felipe Dana / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-58048a', yaml_data: 'source/2020/pandemic-story-essay/slideshow-honorable-mention-58048a.yml' } %>