---
title: 2021 News Picture Story
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Carol Guzy</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3af024', yaml_data: 'source/2021/news-picture-story/slideshow-first-place-3af024.yml' } %>

<h3>Second Place: Ben Curtis / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1641b7', yaml_data: 'source/2021/news-picture-story/slideshow-second-place-1641b7.yml' } %>

<h3>Third Place: Bernat Armangue / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-dd94ab', yaml_data: 'source/2021/news-picture-story/slideshow-third-place-dd94ab.yml' } %>

<h3>Honorable Mention: Sergei Grtis / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-057c56', yaml_data: 'source/2021/news-picture-story/slideshow-honorable-mention-057c56.yml' } %>