---
title: 2019 News Picture Story
navigation: Contest
comments: on
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Alkis Konstantinidis / Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e145a6', yaml_data: 'source/contest/winners/2019/news-picture-story/slideshow-first-place-e145a6.yml' } %>

<h3>Second Place: Brian Snyder / Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-6f712a', yaml_data: 'source/contest/winners/2019/news-picture-story/slideshow-second-place-6f712a.yml' } %>

<h3>Third Place: Tom Fox / The Dallas Morning News</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-65cdbe', yaml_data: 'source/contest/winners/2019/news-picture-story/slideshow-third-place-65cdbe.yml' } %>

<h3>Honorable Mention: Jerome Delay / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-7cd336', yaml_data: 'source/contest/winners/2019/news-picture-story/slideshow-honorable-mention-7cd336.yml' } %>

<h3>Honorable Mention: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1d434a', yaml_data: 'source/contest/winners/2019/news-picture-story/slideshow-honorable-mention-1d434a.yml' } %>