---
title: 2018 Feature Picture Story/Essay
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Jordi Cohen</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-ad2230', yaml_data: 'source/contest/winners/2018/feature-picture-story-essay/slideshow-first-place-ad2230.yml' } %>

<h3>Second Place: Raul Arboleda / AFP</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-c97f4e', yaml_data: 'source/contest/winners/2018/feature-picture-story-essay/slideshow-second-place-c97f4e.yml' } %>

<h3>Third Place: Matt McClain / The Washington Post</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-9a2f06', yaml_data: 'source/contest/winners/2018/feature-picture-story-essay/slideshow-third-place-9a2f06.yml' } %>

<h3>Honorable Mention: Javier Fergo / Stringer AP</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-d10403', yaml_data: 'source/contest/winners/2018/feature-picture-story-essay/slideshow-honorable-mention-d10403.yml' } %>

<h3>Honorable Mention: Justin Merriman / Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-90c45f', yaml_data: 'source/contest/winners/2018/feature-picture-story-essay/slideshow-honorable-mention-90c45f.yml' } %>

<h3>Honorable Mention: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2d8e3a', yaml_data: 'source/contest/winners/2018/feature-picture-story-essay/slideshow-honorable-mention-2d8e3a.yml' } %>