---
title: 2019 Feature Picture Story/Essay
navigation: Contest
layout: wide
comments: on
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4291b1', yaml_data: 'source/2019/feature-picture-story-essay/slideshow-first-place-4291b1.yml' } %>

<h3>Second Place: Alejandro Martinez Velez / Freelance for Rossiya Segodnya</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-7f03f3', yaml_data: 'source/2019/feature-picture-story-essay/slideshow-second-place-7f03f3.yml' } %>

<h3>Third Place: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e45008', yaml_data: 'source/2019/feature-picture-story-essay/slideshow-third-place-e45008.yml' } %>

<h3>Honorable Mention: Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-930836', yaml_data: 'source/2019/feature-picture-story-essay/slideshow-honorable-mention-930836.yml' } %>

<h3>Honorable Mention: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-011a5a', yaml_data: 'source/2019/feature-picture-story-essay/slideshow-honorable-mention-011a5a.yml' } %>

<h3>Honorable Mention: Oded Balilty / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-fcfbf1', yaml_data: 'source/2019/feature-picture-story-essay/slideshow-honorable-mention-fcfbf1.yml' } %>