---
title: 2012 News Picture Story
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Shannon Stapleton / Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1', yaml_data: 'source/2012/news-picture-story/slideshow-first-place.yml' } %>

<h3>Second Place: Andrew Harnik / The Washington Times</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2', yaml_data: 'source/2012/news-picture-story/slideshow-second-place.yml' } %>

<h3>Third Place: Emilio Morenatti / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3', yaml_data: 'source/2012/news-picture-story/slideshow-third-place.yml' } %>

<h3>Honorable Mention: NG Han Guan / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4', yaml_data: 'source/2012/news-picture-story/slideshow-honorable-mention-1.yml' } %>

<h3>Honorable Mention: Bryan Thomas / Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-5', yaml_data: 'source/2012/news-picture-story/slideshow-honorable-mention-2.yml' } %>

