---
title: 2016 Sports Picture Story
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-ac53ff', yaml_data: 'source/contest/winners/2016/sports-picture-story/slideshow-first-place-ac53ff.yml' } %>

<h3>Second Place: Wally Skalij / Los Angeles Times</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-94b374', yaml_data: 'source/contest/winners/2016/sports-picture-story/slideshow-second-place-94b374.yml' } %>

<h3>Third Place: Javier Arcenillas</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-13cdb2', yaml_data: 'source/contest/winners/2016/sports-picture-story/slideshow-third-place-13cdb2.yml' } %>

<h3>Honorable Mention: David Ramos / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-f95535', yaml_data: 'source/contest/winners/2016/sports-picture-story/slideshow-honorable-mention-f95535.yml' } %>

<h3>Honorable Mention: Susana Vera / Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e593c0', yaml_data: 'source/contest/winners/2016/sports-picture-story/slideshow-honorable-mention-e593c0.yml' } %>

<h3>Honorable Mention: Moe Zoyari / Redux Pictures</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-85ef90', yaml_data: 'source/contest/winners/2016/sports-picture-story/slideshow-honorable-mention-85ef90.yml' } %>