---
title: 2017 News Picture Story
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Agence France-Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1e5e30', yaml_data: 'source/contest/winners/2017/news-picture-story/slideshow-first-place-1e5e30.yml' } %>

<h3>Second Place: Agence France-Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e35784', yaml_data: 'source/contest/winners/2017/news-picture-story/slideshow-second-place-e35784.yml' } %>

<h3>Third Place: Leah Millis / San Francisco Chronicle</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-8e13f4', yaml_data: 'source/contest/winners/2017/news-picture-story/slideshow-third-place-8e13f4.yml' } %>

<h3>Honorable Mention: Agence France-Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-734a39', yaml_data: 'source/contest/winners/2017/news-picture-story/slideshow-honorable-mention-734a39.yml' } %>

<h3>Honorable Mention: Danish Siddiqui</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-dac798', yaml_data: 'source/contest/winners/2017/news-picture-story/slideshow-honorable-mention-dac798.yml' } %>

<h3>Honorable Mention: Joe Raedle / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1b8c63', yaml_data: 'source/contest/winners/2017/news-picture-story/slideshow-honorable-mention-1b8c63.yml' } %>