---
title: 2012 Feature Picture Story
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: April Saul / Philadelphia Inquirer</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1', yaml_data: 'source/contest/winners/2012/feature-picture-story/slideshow-first-place.yml' } %>

<h3>Second Place: Craig Walker / The Denver Post</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2', yaml_data: 'source/contest/winners/2012/feature-picture-story/slideshow-second-place.yml' } %>

<h3>Third Place: Esteban Felix / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3', yaml_data: 'source/contest/winners/2012/feature-picture-story/slideshow-third-place.yml' } %>

<h3>Honorable Mention: Kevin Frayer / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4', yaml_data: 'source/contest/winners/2012/feature-picture-story/slideshow-honorable-mention-1.yml' } %>

<h3>Honorable Mention: Scott Strazzante / Chicago Tribune</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-5', yaml_data: 'source/contest/winners/2012/feature-picture-story/slideshow-honorable-mention-2.yml' } %>

<h3>Honorable Mention: Logan Mock-Bunting / Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-6', yaml_data: 'source/contest/winners/2012/feature-picture-story/slideshow-honorable-mention-3.yml' } %>

