---
title: 2015 Feature Picture Story/Essay
navigation: Contest
comments: on
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Javier Arcenillas</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3a729d', yaml_data: 'source/contest/winners/2015/feature-picture-story-essay/slideshow-first-place-3a729d.yml' } %>

<h3>Second Place: Probal Rashid</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-279bef', yaml_data: 'source/contest/winners/2015/feature-picture-story-essay/slideshow-second-place-279bef.yml' } %>

<h3>Third Place: Maye-E Wong / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-d7da67', yaml_data: 'source/contest/winners/2015/feature-picture-story-essay/slideshow-third-place-d7da67.yml' } %>

<h3>Honorable Mention: Gabriela Arp</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-ca3aa8', yaml_data: 'source/contest/winners/2015/feature-picture-story-essay/slideshow-honorable-mention-ca3aa8.yml' } %>

<h3>Honorable Mention: Andres Kudacki / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-fe220b', yaml_data: 'source/contest/winners/2015/feature-picture-story-essay/slideshow-honorable-mention-fe220b.yml' } %>

<h3>Honorable Mention: Stephen Morton</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-454c9f', yaml_data: 'source/contest/winners/2015/feature-picture-story-essay/slideshow-honorable-mention-454c9f.yml' } %>