---
title: 2020 Racial Justice Movement Story/Essay
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Ben Hendren</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-a8ef7f', yaml_data: 'source/2020/racial-justice-movement-story-essay/slideshow-first-place-a8ef7f.yml' } %>

<h3>Second Place: John Minchillo / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-12030e', yaml_data: 'source/2020/racial-justice-movement-story-essay/slideshow-second-place-12030e.yml' } %>

<h3>Third Place: Ben Gray</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-663f7a', yaml_data: 'source/2020/racial-justice-movement-story-essay/slideshow-third-place-663f7a.yml' } %>

<h3>Honorable Mention: Maye-e Wong / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-238a9c', yaml_data: 'source/2020/racial-justice-movement-story-essay/slideshow-honorable-mention-238a9c.yml' } %>