---
title: 2013 Sports Picture Story
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Patrick Smith / Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1', yaml_data: 'source/2013/sports-picture-story/slideshow-first-place.yml' } %>

<h3>Second Place: Stefan Wermuth / Reuters</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2', yaml_data: 'source/2013/sports-picture-story/slideshow-second-place.yml' } %>

<h3>Third Place: Patrick Smith / Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3', yaml_data: 'source/2013/sports-picture-story/slideshow-third-place.yml' } %>

<h3>Honorable Mention: David Ramos / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4', yaml_data: 'source/2013/sports-picture-story/slideshow-honorable-mention.yml' } %>