---
title: 2014 Feature Picture Story/Essay
navigation: Contest
comments: on
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Javier Arcenillas</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-da9203', yaml_data: 'source/contest/winners/2014/feature-picture-story-essay/slideshow-first-place-da9203.yml' } %>

<h3>Second Place: Jordi Perdigó</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-cd4d30', yaml_data: 'source/contest/winners/2014/feature-picture-story-essay/slideshow-second-place-cd4d30.yml' } %>

<h3>Third Place: Brian Cassella / Chicago Tribune</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-b65315', yaml_data: 'source/contest/winners/2014/feature-picture-story-essay/slideshow-third-place-b65315.yml' } %>

<h3>Honorable Mention: Muhammed Muheisen / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-bfd555', yaml_data: 'source/contest/winners/2014/feature-picture-story-essay/slideshow-honorable-mention-bfd555.yml' } %>