---
title: Winners
navigation: Contest
---

<% require 'humanize' %>

<h1>Contest Winners</h1>

<% years_we_dont_have = [1977, 1978, 1981, 2009] %>

<p>Though the Seminar was founded in 1973 (then, the <em>Atlanta Press Photographers Association</em>), our first photography contest was not held until 1975. Results from all but 

<%# This line will dynamically generate the list of years that aren't included. If another year is ever missed, %>
<%# it will just need to be added to the list at the top of this file. %>
<%= years_we_dont_have.length.humanize %> years (<% years_we_dont_have[0..-2].each do |y| %><%= "#{y}, " %><% end %>and <%= years_we_dont_have[-1] %>)

are listed below.</p>

<p>Use the select box to choose the year to view the winners from:</p>

<div class="form-group">
  <label for="contest_year">Contest Year</label>
  <select id="contest_year" class="form-control">
    <% (2014).downto(1975).each do |year| %>
      <option value="<%= year %>"<% if years_we_dont_have.include? year %>disabled<% end %>><%= year %></option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <button id="contest_button" class="btn btn-default btn-large">Go</button>
</div>


<script>
  $(function() {
    $("#contest_button").on('click', function(e) {
      var year = $("#contest_year").val();
      window.location.href = '/contest/winners/' + year + '/';
    });
  });
</script>