---
title: 2018 Friday Workshops
navigation: Faculty
comments: off
---

Below is a list of confirmed Friday workshops for the <strong>2018 Atlanta Photojournalism Seminar</strong>:

<% faculty = YAML.load(File.read("source/faculty/workshops/workshops.yml")) %>
<% faculty.each do |f| %>
  <div class="faculty-section">
  <% if f['workshop'] %>
  <h3 id="<%= f['id'] %>"><%= f['workshop'][0]['title'] %> - <%= f['name'] %></h3>
  <img src="/images/2018/faculty/<%= f['id'] %>.jpg" alt="<%= f['name'] %>" class="thumbnail faculty-image">

  <% if f['workshop'][0]['description'] %>
  <h4>Workshop Description</h4>
  <% end %>

  <% f['workshop'][0]['description'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  <h4>Speaker Bio</h4>
  <% f['bio'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  <% end %>
  </div>
<% end %>