---
title: Workshops
navigation: Faculty
comments: on
---

<h1>2014 Workshops</h1>

Below is a list of confirmed workshops for the <strong>2014 Atlanta Photojournalism Seminar</strong>:

<% faculty = YAML.load(File.read("source/faculty/workshops/workshops.yml")) %>
<% faculty.each do |f| %>
  <div class="faculty-section">
  <% if f['workshop'] %>
  <h3 id="<%= f['id'] %>"><%= f['workshop'][0]['title'] %> - <%= f['name'] %></h3>
  <% f['workshop'][0]['description'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  <img src="<%= f['url'] %>" alt="<%= f['name'] %>" class="thumbnail faculty-image">
  <h4>Speaker Bio</h4>
  <% f['bio'].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  <% end %>
  </div>
<% end %>