---
title: Previous Faculty
navigation: Faculty
---

<p>Below is an alphabetized list of most of the faculty members who have participated in the <strong>Atlanta Photojournalism Seminar</strong> since our humble beginnings in 1973. We are missing information from 1976, 1977 and 1978. We have made an effort to hyperlink each member’s name to a website with more information about them, including personal websites, articles, Wikipedia entries and obituaries.</p>

<p>Please send us an email at <strong><a href="mailto:webmaster@photojournalism.org">webmaster@photojournalism.org</a></strong> if any of the links are broken, incorrect, or you have any information on faculty members from 1976-78.</p>

<% data = YAML.load_file("source/faculty/list/list.yml") %>

<% data.each do |d| %>
  <h4><%= d['letter'] %></h4>

  <% d['faculty'].each do |faculty| %>
    <span class='faculty'>
      <% if faculty['url'] %>
        <strong><a href="<%= faculty['url'] %>" target="_blank"><%= faculty['name'] %></a></strong> 
      <% else %>
        <strong><%= faculty['name'] %></strong> 
      <% end %>
      - <%= faculty['years'] %>
    </span><br>
  <% end %>
<% end %>