---
title: 2016 News Picture Story
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Aris Messinis / Agence France-Presse</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-6e8dec', yaml_data: 'source/contest/winners/2016/news-picture-story/slideshow-first-place-6e8dec.yml' } %>

<h3>Second Place: Felipe Dana / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-5952c6', yaml_data: 'source/contest/winners/2016/news-picture-story/slideshow-second-place-5952c6.yml' } %>

<h3>Third Place: Petros Giannakouris / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-f0f794', yaml_data: 'source/contest/winners/2016/news-picture-story/slideshow-third-place-f0f794.yml' } %>

<h3>Honorable Mention: Noel Celis / Agence France-Presse</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-31301d', yaml_data: 'source/contest/winners/2016/news-picture-story/slideshow-honorable-mention-31301d.yml' } %>

<h3>Honorable Mention: Abd Doumany / Agence France-Presse</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-6ec17d', yaml_data: 'source/contest/winners/2016/news-picture-story/slideshow-honorable-mention-6ec17d.yml' } %>

<h3>Honorable Mention: David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-5bc710', yaml_data: 'source/contest/winners/2016/news-picture-story/slideshow-honorable-mention-5bc710.yml' } %>