---
title: 2019 Sports Picture Story
navigation: Contest
layout: wide
comments: on
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Sascha Fromm / Thueringer Allgemeine</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-0bf277', yaml_data: 'source/2019/sports-picture-story/slideshow-first-place-0bf277.yml' } %>

<h3>Second Place: Jordi Cohen</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3aefc8', yaml_data: 'source/2019/sports-picture-story/slideshow-second-place-3aefc8.yml' } %>

<h3>Third Place: Matt Mcclain / The Washington Post</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-380e0a', yaml_data: 'source/2019/sports-picture-story/slideshow-third-place-380e0a.yml' } %>

<h3>Honorable Mention: Matthias Hangst / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-c62f2b', yaml_data: 'source/2019/sports-picture-story/slideshow-honorable-mention-c62f2b.yml' } %>